Sometimes we want to manipulate a DataFrame's columns by changing the column ordering. There are a few ways to do this, depending on what state your DataFrame is in.

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5,5), columns=['a', 'b', 'c', 'd', 'e'])
df['max'] = df.max(axis=1)

df

          a         b         c         d         e       max
0  0.516304  0.705653  0.605606  0.997448  0.006643  0.997448
1  0.538629  0.874436  0.907932  0.002425  0.827617  0.907932
2  0.089607  0.619142  0.349426  0.476884  0.850378  0.850378
3  0.955909  0.847274  0.517604  0.875703  0.149167  0.955909
4  0.218893  0.970456  0.585351  0.477969  0.068663  0.970456

First, let's just review the basics. Without moving or dropping columns, we can view any column we want in any order by just selecting them.

In [4]:
df['max']

0    0.722492
1    0.763392
2    0.988133
3    0.814483
4    0.971838
Name: max, dtype: float64

Or any set of columns, including viewing the column more than once, and in any order

In [5]:
df[['d', 'a', 'max', 'b', 'd']]

          d         a       max         b         d
0  0.284301  0.401462  0.722492  0.338639  0.284301
1  0.449932  0.444856  0.763392  0.763392  0.449932
2  0.988133  0.616086  0.988133  0.117530  0.988133
3  0.184922  0.778871  0.814483  0.404207  0.184922
4  0.391487  0.971838  0.971838  0.147024  0.391487

So assigning back to our variable will make this reordering permanent.

In [6]:
df = df[['d', 'a', 'b', 'max', 'e']]

In [7]:
df

          d         a         b       max         e
0  0.284301  0.401462  0.338639  0.722492  0.523084
1  0.449932  0.444856  0.763392  0.763392  0.191324
2  0.988133  0.616086  0.117530  0.988133  0.315078
3  0.184922  0.778871  0.404207  0.814483  0.259886
4  0.391487  0.971838  0.147024  0.971838  0.443666

Since the columns are just an Index, they can be converted to a list and manipulated, then you can also use the reindex method to change the columns ordering.

In [8]:
df.reindex(columns=sorted(df.columns))

          a         b         d         e       max
0  0.401462  0.338639  0.284301  0.523084  0.722492
1  0.444856  0.763392  0.449932  0.191324  0.763392
2  0.616086  0.117530  0.988133  0.315078  0.988133
3  0.778871  0.404207  0.184922  0.259886  0.814483
4  0.971838  0.147024  0.391487  0.443666  0.971838

Also, when you are first creating a column, you can just ```insert``` it in the order that you want it to appear. By default, adding a column using the ```[]``` operator will put it at the end.

In [9]:
df.insert(3, "min", df.min(axis=1))

In [10]:
df

          d         a         b       min       max         e
0  0.284301  0.401462  0.338639  0.284301  0.722492  0.523084
1  0.449932  0.444856  0.763392  0.191324  0.763392  0.191324
2  0.988133  0.616086  0.117530  0.117530  0.988133  0.315078
3  0.184922  0.778871  0.404207  0.184922  0.814483  0.259886
4  0.391487  0.971838  0.147024  0.147024  0.971838  0.443666

Finally, you can pop the column, then re-insert it.

In [16]:
col_e = df.pop("e")
df.insert(3, "e", col_e)

df

          a         b         c         e         d       max
0  0.516304  0.705653  0.605606  0.006643  0.997448  0.997448
1  0.538629  0.874436  0.907932  0.827617  0.002425  0.907932
2  0.089607  0.619142  0.349426  0.850378  0.476884  0.850378
3  0.955909  0.847274  0.517604  0.149167  0.875703  0.955909
4  0.218893  0.970456  0.585351  0.068663  0.477969  0.970456

So as you can see, there are a number of ways to manipulate your column ordering in your dataframe.